:root {
  --background-color: #1d2026;
  --text-color: white;
  --button-color: #00986f;
  --button-hover-color: #00a87f;
  --font-size: 12px;
}

.App {
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size);
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  justify-content: center;
  margin-bottom: 2rem;
}

.notify-form {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 80%;
  max-width: 600px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
}

.radio-group {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.radio-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.frequency-select {
  width: 100%;
}

.submit {
  margin-top: 10px;
  background-color: var(--button-color);
  color: white
}
.submit:hover {
  background-color: var(--button-hover-color);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
  }
  
  .card {
  background-color: var(--card-background-color);
  color: var(--card-text-color);
  border-radius: var(--card-border-radius);
  padding: 1rem;
  box-shadow: var(--card-box-shadow);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  }
  
  .card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
  
  .card-heading h3 {
  margin: 0;
  }
  
  .card-heading button {
  background-color: var(--card-button-background-color);
  color: var(--card-button-text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--card-button-border-radius);
  cursor: pointer;
  }
  
  .card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  }
  
  .card-content span {
  font-weight: bold;
  }
  
  .card-footer {
  display: flex;
  justify-content: flex-end;
  }
  
  .card-footer button {
  background-color: var(--card-button-background-color);
  color: var(--card-button-text-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: var(--card-button-border-radius);
  cursor: pointer;
  }
  
  .card-footer button:first-child {
  margin-right: 1rem;
  }